git+https://github.com/hscells/pylucene-packaged.git
jcc
lupyne
streamlit
ir-measures
ir-datasets
tqdm
progressbar2
dataclasses_json==0.5.12
pyparsing==3.1.0
python-dotenv
appdirs
parsedatetime
git+https://github.com/hscells/pybool_ir.git